# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/
.venv/

.env

# Python-Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
.venv/
venv/
.env/
.env.*

# Build/Packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/